<!DOCTYPE html>
<html>
<head>
  <title>RailsProfiler</title>
  <%= stylesheet_link_tag    "rails_profiler", media: "all" %>
  <%= javascript_include_tag "rails_profiler_widget" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
